/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;

	/* --font-main: 'Poppins', sans-serif;
  --color-primary: #49aa26;
  --color-primary-light: #3dd705;
  --color-secondary: #2d4a22;
  --color-bg: #f0f2f5;
  --color-bg-secondary: #fff;
  --color-text: #363f5f;
  --color-income: #12a454;
  --color-expense: #e92929;
  --color-overlay: #000000b3; */

	--font-main: 'Poppins', sans-serif;
	--color-primary: #49aa26;
	--color-primary-light: #3dd705;
	--color-secondary: #427232;
	--color-bg: #1b1b1e;
	--color-bg-secondary: #2a2b2f;
	--color-income: #12a454;
	--color-expense: #e92929;
	--color-text: #d2e2d3;
	--color-overlay: #000000b3;
}

/* ELEMENTS */

img {
	-webkit-user-drag: none;
}

h2 {
	color: var(--color-text);
	font-weight: 400;
}

body {
	background: var(--color-bg);
	font-family: var(--font-main);

	footer {
		padding: 4rem 0 2rem;
		color: var(--color-text);
		opacity: 0.6;
	}
}

header {
	padding: 2rem 0 10rem;
	text-align: center;
	height: 15.86rem;
}

a {
	color: var(--color-primary);
	text-decoration: none;

	&:hover {
		color: var(--color-primary-light);
	}
}

button {
	width: 100%;
	height: 3.3rem;
	border: none;
	color: #fff;
	background: var(--color-primary);
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background: var(--color-primary-light);
	}
}

.card {
	background: var(--color-bg-secondary);
	padding: 1.5rem 2rem;
	border-radius: 5px;
	margin-bottom: 2rem;

	h3 {
		font-size: 1rem;
		font-weight: 400;
		text-align: left;

		display: flex;
		align-items: start;
		justify-content: space-between;
		color: var(--color-text);
	}

	> span {
		color: var(--color-text);
		font-size: 2rem;
		font-weight: 400;
		line-height: 3rem;
		margin-top: 1rem;
	}
}

.button {
	&.new {
		display: inline-block;
		margin-bottom: 0.8rem;
	}

	&.cancel {
		color: var(--color-expense);
		border: 2px var(--color-expense) solid;
		border-radius: 5px;
		height: 3.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
}

#balance {
	margin-top: -7rem;
}

#data-table {
	width: 100%;
	border-spacing: 0 0.5rem;
	color: var(--color-text);

	display: block;
	overflow-x: auto;
	font-size: 16px;
}

table {
	thead tr th,
	tbody tr td {
		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
	}

	th {
		font-weight: 400;
		text-align: left;
		padding: 1rem 2rem;
	}

	tbody th {
		background: var(--color-bg-secondary);
	}

	td {
		background: var(--color-bg-secondary);
		text-align: left;
		padding: 1rem 2rem;

		&.description {
			color: var(--color-text);
		}

		&.income {
			color: var(--color-income);
		}

		&.expense {
			color: var(--color-expense);
		}
	}

	tr {
		opacity: 0.75;
		border-radius: 5px;

		td img {
			cursor: pointer;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-overlay);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 999;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.modal {
	background: var(--color-bg);
	padding: 2.4rem;
	position: relative;
	z-index: 1;
	width: 90%;
	max-width: 500px;
	border-radius: 5px;
}

#form {
	max-width: 500px;

	h2 {
		margin-top: 0;
	}
}

input {
	border: none;
	border-radius: 0.2rem;
	padding: 0.8rem;
	width: 100%;
	margin: 0.25rem 0;
	background: var(--color-bg-secondary);
	color: var(--color-text);
	outline: none;
	transition: 0.1s ease-in-out;

	&:focus {
		border: var(--color-primary) 1px solid;
	}
}

.input-group {
	margin-top: 0.8rem;

	&.actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.button,
	button {
		width: 40%;
	}

	small {
		display: block;
		opacity: 0.4;
		color: #fff;
		margin: 0.6rem 0;
	}
}

/* UTILS */

.container {
	width: #{'min(90vw, 1120px)'};
}

.text-center {
	text-align: center;
}

.m-auto {
	margin: auto;
}

.bg-primary {
	background: var(--color-primary);
}

.bg-secondary {
	background: var(--color-secondary);
}

.color-primary {
	color: var(--color-primary);
}

.color-secondary {
	color: var(--color-secondary);
}

.color-white {
	color: #fff;
}

.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.hidden {
	display: none;
}

@media (min-width: 600px) {
	#data-table {
		display: table;
	}
}

@media (min-width: 800px) {
	html {
		font-size: 14px;
	}

	#balance {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}
